[Unit]
Description=Run PostgreSQL Full Backup daily at 2:00 AM

[Timer]
OnCalendar=daily
OnCalendar=02:00:00
Persistent=true

[Install]
WantedBy=timers.target
